<!-- ! Spoiler item-->
<div data-spoiler class="spoiler opened">
	<div class="spoiler__preview">
		<h4 class="spoiler__title">Today’s total</h4>
		<div class="spoiler__icon">
			<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
			</svg>
		</div>
	</div>
	<div class="spoiler__wrapper">
		<div class="spoiler__body">
			Spoiler content here
		</div>
	</div>
</div>

<!-- ! Accodrion item-->
<div data-accordion class="spoiler opened">
	<div class="spoiler__preview">
		<h4 class="spoiler__title">Today’s total</h4>
		<div class="spoiler__icon">
			<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
			</svg>
		</div>
	</div>
	<div class="spoiler__wrapper">
		<div class="spoiler__body">
			Accodrion content here
		</div>
	</div>
</div>



<!-- SPOILER|ACCORDION 13/07/23 -->
<div class="spoiler">
	<div class="spoiler__inner">
		<div class="spoiler__preview">
			<p class="spoiler__title">
				Title
			</p>
				<svg class="spoiler__icon" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.9082 7.66699V18.3337" stroke="black" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M18.2409 13H7.57422" stroke="black" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.9082 25C6.28018 25 0.908203 19.628 0.908203 13C0.908203 6.37198 6.28018 1 12.9082 1C19.5362 1 24.9082 6.37198 24.9082 13C24.9082 19.628 19.5362 25 12.9082 25Z" stroke="black" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
		</div>
		<div class="spoiler__wrapper">
			<div class="spoiler__body">
				Content
			</div>
		</div>
	</div>
	<div class="spoiler__inner">
		<div class="spoiler__preview">
			<p class="spoiler__title">
				Title
			</p>
				<svg class="spoiler__icon" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.9082 7.66699V18.3337" stroke="black" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M18.2409 13H7.57422" stroke="black" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.9082 25C6.28018 25 0.908203 19.628 0.908203 13C0.908203 6.37198 6.28018 1 12.9082 1C19.5362 1 24.9082 6.37198 24.9082 13C24.9082 19.628 19.5362 25 12.9082 25Z" stroke="black" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
		</div>
		<div class="spoiler__wrapper">
			<div class="spoiler__body">
				Content
			</div>
		</div>
	</div>
	<div class="spoiler__inner">
		<div class="spoiler__preview">
			<p class="spoiler__title">
				Title
			</p>
				<svg class="spoiler__icon" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.9082 7.66699V18.3337" stroke="black" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M18.2409 13H7.57422" stroke="black" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.9082 25C6.28018 25 0.908203 19.628 0.908203 13C0.908203 6.37198 6.28018 1 12.9082 1C19.5362 1 24.9082 6.37198 24.9082 13C24.9082 19.628 19.5362 25 12.9082 25Z" stroke="black" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
		</div>
		<div class="spoiler__wrapper">
			<div class="spoiler__body">
				Content
			</div>
		</div>
	</div>
</div>



